/* Standard rules */
:root {
    --main-color: #5488FF;	
    --background-color: #FDFEFF;
    --darker-background-color: #BBCFFF;
    --darker-main-color: #003ECE;
    --dark-color: #002E99;
    --search-color: rgba(116, 116, 116, 0.5);
    --text-shadow: 0px 0px 3px#000;
    --box-shadow: 0px 0px 10px#000;
    --error-color: rgba(161, 1, 1, 0.726);
    --title-font: 'Lobster', cursive;
    --subtitle-font: 'Work Sans', sans-serif;
    --main-font: 'Signika', sans-serif;
    --radius: 10px;
    --footer-color: rgb(66, 66, 66);
    --footer-font-color: rgb(163, 163, 163);
}   
::placeholder {
    color: var(--background-color);
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: scroll;
    min-width: 340px;
    min-height: 200px;
    transition: all 1s ease;
}
html, body, div, a, p, header, section, article, input, blockquote, h1, h2, h3, h4, h5, h6, ol, ul, footer {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: rgba(179, 179, 179, 0.726);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: var(--main-color);
    font-family: var(--main-font);
}
a {
    color: inherit;
}
a:hover {
    color: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    font-weight: 200;
}
div:empty {
    display: none;
 }
#container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}
#header {
    width: 100%;
    min-height: 200px;
    text-align: center;
}
#header div {
    position: relative;
    top: 20%;
}
#header h1 {
    color: var(--background-color);
    text-shadow: var(--text-shadow);
    font-family: var(--title-font) !important;
    font-weight: 300;
    padding: 10px;
}
#search-bar, #search-btn {
    font-size: 1.3em;
    font-family: var(--title-font);
    text-shadow: var(--text-shadow);
    color: var(--background-color);
    border: none;
    padding: 15px;
    background-color: var(--search-color);
}
#search-bar {
    width: 500px;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
#search-btn {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    transition: all .3s ease;
}
#search-btn:hover {
    background-color: var(--background-color);
    color: var(--main-color);
    text-shadow: none;
}
#search-btn:active {
    box-shadow: inset var(--box-shadow);
}
input:focus {
    outline: none;
}
#main {
    grid-row: 3 / 4;
    margin: 3em auto;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--dark-color);
    display: flex;
    flex-direction: column;
}
#multiple-locations {
    text-align: center;
    border-top: 2px solid var(--dark-color)
}
#multiple-locations * {
    min-width: 100%;
    max-width: 100%;
    padding: 10px 0px;
}
#forecasts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
}
.forecast-icon {
    float: right;
}
.active {
    background-color: var(--main-color);
    color: var(--background-color);
}
.detailed {
    background-color: rgba(84, 135, 255, 0.76);
    color: var(--background-color);
    height: 260px;
    z-index: 5;
    font-size: 95%;
}
#detailed-1 {
    position: absolute;
    top: 442px;
    left: calc(50% - 420px);
}
#detailed-2 {
    position: absolute;
    top: 442px;
    left: calc(50% - 140px);
}
#detailed-3 {
    position: absolute;
    top: 442px;
    left: calc(50% + 140px);
}
#multiple-locations li, .detailed ul li {
    list-style: none;
}
#forecasts div {
    height: 150px;
}
#forecasts div, .detailed {
    min-width: 240px;
    max-width: 240px;
    padding: 20px;
    border-collapse: collapse;
    transition: all .2s ease;
}
#forecasts div:hover, #multiple-locations li:hover, .active {
    background-color: var(--main-color);
    color: var(--background-color);
    cursor: pointer;
}
#forecasts div:active, #multiple-locations li:active {
    box-shadow: inset var(--box-shadow);
}
#map {
    height: 300px;
    width: 100%;
    border-top: 2px solid var(--dark-color);
}
#error {
    color: var(--error-color);
}
#footer {
    grid-row: 5;
    height: auto;
    width: 100%;
    color: var(--footer-font-color);
    font-size: 0.7em;
    background-color: var(--footer-color)
}
#footer p {
    padding: 3px 6px;
}
.header-start {
    grid-row: 1 / 5;
}
.header-shrink {
    grid-row: 1 / 2;
}
.main-temp {
    font-size: 1.75em;
}
.night-temp {
    font-size: 70%;
    color: var(--dark-color);
}
.night-temp-real {
    color: var(--dark-color);
}
.background-cloudy {
    background-image: url("../images/cloudy-background.jpg");
}
.background-cold {
    background-image: url("../images/cold-background.jpg");
}
.background-fog {
    background-image: url("../images/fog-background.jpg");
}
.background-hazy {
    background-image: url("../images/hazy-background.jpg");
}
.background-header {
    background-image: url("../images/header-background.jpg");
}
.background-hot {
    background-image: url("../images/hot-background.jpg");
}
.background-partly-sunny {
    background-image: url("../images/partly-sunny-background.jpg");
}
.background-rainy {
    background-image: url("../images/rainy-background.jpg");
}
.background-sleet {
    background-image: url("../images/sleet-background.jpg");
}
.background-snow-flurries {
    background-image: url("../images/snow-flurries-background.jpg");
}
.background-snowy {
    background-image: url("../images/snowy-background.jpg");
}
.background-storm {
    background-image: url("../images/storm-background.jpg");
}
.background-sunny {
    background-image: url("../images/sunny-background.jpg");
}
.background-sunny-rain {
    background-image: url("../images/sunny-rain-background.jpg");
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 75%;
    }
    .forecast-icon {
        transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
    }
    #search-bar {
        width: 300px;
    }
    #main {
        font-size: 75%;
        max-width: 570px;
        min-width: 570px;
    }
    #forecasts > div {
        height: 100px;
    }
    #forecasts div, .detailed {
        min-width: 150px;
        max-width: 150px;
    }
    #map {
        height: 250px;
    }
    #detailed-1, #detailed-2, #detailed-3 {
        top: 371px;
    }
    #detailed-1 {
        left: calc(50% - 285px);
    }
    #detailed-2 {
        left: calc(50% - 95px);
    }
    #detailed-3 {
        left: calc(50% + 95px);
    }
    .detailed {
        font-size: 80%;
        height: 210px;
    }
    #multiple-locations > h3 {
        padding: 10px 5px;
        font-size: 135%;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 70%;
    }
    .forecast-icon {
        transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3, 1.3);
    }
    #header h1 {
        font-size: 150%;
    }
    #search-bar {
        width: 150px;
    }
    #main {
        font-size: 110%;
        max-width: 320px;
        min-width: 320px;
    }
    #forecasts div {
        height: 120px;
        min-width: 280px;
        max-width: 280px;
    }
    #map {
        height: 200px;
    }
    #detailed-1, #detailed-2, #detailed-3 {
        left: calc(50% - 10px);
    }
    #detailed-1 {
        top: 239px;
    }
    #detailed-2 {
        top: 399px;
    }
    #detailed-3 {
        top: 559px;
    }
    .detailed {
        background-color: var(--dark-color);
        min-width: 130px;
        max-width: 130px;
        height: 120px;
        font-size: 76%;
    }
    #multiple-locations > h3 {
        font-size: 100%;
    }
}
@media screen and (max-width: 340px) {
    body {
        overflow-x: scroll;   
        overflow-y: scroll;     
    }
}
